<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>

</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="">
    <nav>
        <input type="search" id="busqueda" name="q"/><!--Barra de busqueda-->
        <p><i class="fas fa-hand-holding-usd" class="iconos-header"></i>Comprá en cuotas y sin tarjeta de crédito.</p>
    </nav>
    <div id="menu">
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="#">Creá tu cuenta</a><i class="far fa-id-card" class="iconos-header"></i></li>
                <li><a href="#">Ingresá</a><i class="fas fa-sign-in-alt" class="iconos-header"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket" class="iconos-header"></i></li>            
            </ul>
        </nav>
    </div>
    
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>

    </header>
    <img id="banner" src="/images/img-home-banner.jpg" alt="">

    <main>

        <section class="productos">
            <article>
                <h2>Basado en tu última visita</h2>
                <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt=""><!--agrego width desde HTML de modo previsorio.-->  
            </div>   
            <div class="linea-gris">             
                    <i class="fas fa-truck texto-verde"></i>
                    <p class="precios">$6.770</p>
                    <p class="des-des texto-verde">40% OFF</p>
                    <h3 class="des-des">Cafetera Moulinex</h3>
            </div>    
                </article>
            <article>
                <div>
                    <img src="/images/img-macbook-pro-2019.jpg" alt=""><!--agrego width desde HTML de modo previsorio.-->
                </div>    
                <div class="linea-gris">                
                    <i class="fas fa-truck texto-verde"></i>
                    <p class="precios">$230.000</p>
                    <p class="texto-verde" class="des-des">20% OFF</p>
                    <h3 class="des-des"> MacBook Pro 2019</h3>    
                </div>
                </article>
            <article>
                <div>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="" ><!--agrego width desde HTML de modo previsorio.-->
                </div>
                <div class="linea-gris">
                    <i class="fas fa-truck texto-verde"></i>
                    <p class="precios">$70.500</p>
                    <p class="des-des texto-verde">10% OFF</p>
                    <h3 class="des-des">Samsung Galaxy S10</h3>    
                </div>
                </article>
            <article>
                <div>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="" ><!--agrego width desde HTML de modo previsorio.-->
                </div>    
                    <div class="linea-gris">
                    <i class="fas fa-truck texto-verde"></i>
                    <p class="precios">$23.200</p>
                    <p class="des-des texto-verde">5% OFF</p>
                    <h3 class="des-des">SmartTv Samsung 43"</h3>    
                    </div>
                </article>
        </section>
        <section>
            
            <article>
                <h2>Ofertas</h2>
                <div>
                    <img src="images/img-cafetera-moulinex.jpg" alt="">
                </div>
                <div class="linea-gris">
                    <i class="fas fa-truck texto-verde"></i>
                    <p class="precios">$6.770</p>
                    <p class="des-des texto-verde">40%</p>
                    <h3 class="des-des">Cafetera Moulinex</h3>    
                </div>
                </article>
            <article>
                <div>
                    <img src="images/img-macbook-pro-2019.jpg" alt="">
                </div>
                <div class="linea-gris">    
                    <i class="fas fa-truck texto-verde"></i>
                    <p class="precios">$230.000</p>
                    <p class="des-des texto-verde">20% OFF</p>
                    <h3 class="des-des">MacBook Pro 2019</h3>    
                </div>
                </article>
            <article>
                <div>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                </div>
                <div class="linea-gris">
                    <i class="fas fa-truck texto-verde"></i>
                    <p class="precios">$70.500</p>
                    <p class="des-des texto-verde">10% off</p>
                    <h3 class="des-des">Samsung Galaxy S10</h3>    
                </div>
            </article>
            <article>
                <div>
                    <img src="images/img-tv-samsung-smart.jpg" alt="">
                </div>
                <div class="linea-gris">
                    <i class="fas fa-truck texto-verde"></i>
                    <p class="precios">$23.200</p>
                    <p class="des-des texto-verde">5% off</p>
                    <h3 class="des-des">SmartTv Samsung 43"</h3>    
                </div>
                </article>
        </section>
        <footer>
                <div class="footer-cen">
                    <i class="fas fa-credit-card" class="iconos-footer"></i>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>

                <div class="footer-cen">
                    <i class="fas fa-gift" class="iconos-footer"></i>
                    <h4>Envio gratis desde los $2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>

                <div class="footer-cen">
                    <i class="fas fa-user-shield" class="iconos-footer"></i>
                    <h4> Seguridad, de principio a fin</h4>
                    <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                    <p>Copyright 1999-2020 MercadoLiebre S.R.L</p>       
                </div>    
        </footer>
    </main>
</body>
</html>